div {
    display: flex;
    margin: 30px;

}

.border {
    border: solid;
}

.column {
    flex-direction: column;
}

h1 {
    padding: 10px;
}

h3 {
    padding: 10px;
}

img {
    width: 800px;
    height: auto;
}

p {
    padding: 15px;
}